.copy-dialog-container{
    background-color: red;
    position: absolute;
    left: 0;
    z-index: 100000000;
    background-color: #1e1e1e;
    width: 100%;
    height: 30vh;
    @include center-flex(column);
    border-radius: 60px 60px 0px 0px;
    @include m{
        height: 28vh;
        // visibility: hidden;
    }
    .copy-dialog-code{
        height: max-content;
        padding: 20px 9px;
        margin: 13px 30px;
        background-color: #454545a8;
        border-radius: 10px;
    }
    .copy-dialog-button-group{
        display: flex;
        .copy-dialog-button{
            @include popup-button;
            height: max-content;
            width: max-content;
            padding: 7px 20px;
            font-weight: 600;
            letter-spacing: 0.7px;
        }
    }

    .success-container{


        width: 11.4rem;
        display: flex;

    }
    .copy-dialog-success{
        @include center-flex(row);
        .copy-icon{
            color: rgba(35, 184, 35, 0.905);
            box-sizing: border-box;
            padding: 2px;
        }
        > span{
            padding: 0px 5px;
        }
    }
}