@mixin center-flex($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin popup-button{
    background: #454545;
    border: none;
    border-radius: 5vh;
    margin: 5px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

@mixin image-props($url){
    background: url('#{$url}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin blobs($url){
    background-image: url($url);
    z-index: -1;
    height: 140px;
    width: 140px;
    position: absolute;
}

.active{
    border-bottom: 1.6px solid white;
}

.inactive{
    border-bottom: 1.6px solid black;
}