:root{
  --navColor: black;
}

.App {
  text-align: auto;
  margin: 0px;
  padding: 0px;
  color: #dc9da7;
}

/* utility classes for color palette on Browse tab */
div .All{
  background: #ad6969;
}
div .Red {
  background-color: red;
}
div .Yellow {
  background-color: yellow;
}
div .Green {
  background-color: green;
}
div .Pink {
  background-color: pink;
}
div .Blue {
  background-color: blue;
}
div .White {
  background-color: white;
}
div .Black {
  background-color: black;
}
div .Grey {
  background-color: #454545;
}
div .Orange {
  background-color: orange;
  
}

.abc{
  margin-top: 30px;
  display: none;
}