
/* responsive styling */

@media screen and (max-width: 767px) {
    footer > div{
        grid-template-rows: 2fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    footer > div{
        /* border: 2px solid yellow; */
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    footer > div >:nth-child(2){
        margin-bottom: 0px;
    }
    .copyBtn, .close, .addBtn{
        margin: 9px
    }
    .gradCodes{
        margin-top: 10px;
    }
    .gradCodes span{
        margin: 2px 5px;
    }
}

