footer > div{
    margin: 0px 40px;
    display: grid;
    justify-content: center;
    width: 100%;
}
  
/* styling the textual section on the detail box*/
  
footer > div >:nth-child(1){
    /* border: 2px solid red; */
    margin: 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.gradName{
    font-weight: 600;
    font-size: 20px;
    padding: 5px 50px 10px 50px;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.571);
    width: max-content;
}

.gradCodes{
    display: flex;
}

.gradCodes span{
    background: #80808040;
    padding: 3px 4px;
    margin: 2px 15px;
    border: 1px solid #80808040;
    border-radius: 5px;
}

/* styling the buttons on details box */

footer > div >:nth-child(2){
    margin: 2px 0px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

}

.copyBtn, .close, .addBtn{
    background: #454545;
    border: none;
    margin: 5px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.copyBtn, .addBtn{
    width: 6vh;
    height: 6vh;
    border: 1px solid #454545;
    border-radius: 50%;
}

.close{
    height: 6vh;
    width: 10vh;
    border-radius: 3vh;
}

/* the close bar */
.closeBar{
    position: absolute;
    height: 4px;
    width: 130px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 3px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* copying on clipboard css */
.copied{
    position: absolute;
    display: flex;
    background-color: #f5f5f5bf;
    padding: 3px 5px;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid #454545a6;
    border-radius: 4px;
    font-size: 20px;
    opacity: 0;
    transition: 1000ms all ease;
}

.copiedActive{
    opacity: 1;
    transform: translateY(-100%);
}

.copiedInactive{
    opacity: 0;
    transform: translateY(-170%);
}

/* responsive styling */

@media screen and (max-width: 767px) {
    footer > div{
        grid-template-rows: 2fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    footer > div{
        /* border: 2px solid yellow; */
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    footer > div >:nth-child(2){
        margin-bottom: 0px;
    }
    .copyBtn, .close, .addBtn{
        margin: 9px
    }
    .gradCodes{
        margin-top: 10px;
    }
    .gradCodes span{
        margin: 2px 5px;
    }
}

