@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.active {
  border-bottom: 1.6px solid white;
}

.inactive {
  border-bottom: 1.6px solid black;
}

.xsmall-card {
  -ms-grid-row-span: 17;
      grid-row-end: span 17;
  margin: 2px 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
}

.xsmall-gradient {
  -ms-grid-row-span: 13;
      grid-row-end: span 13;
  border-radius: 10px;
}

.small-card {
  -ms-grid-row-span: 22;
      grid-row-end: span 22;
  margin: 2px 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
}

.small-gradient {
  -ms-grid-row-span: 18;
      grid-row-end: span 18;
  border-radius: 10px;
}

.medium-card {
  -ms-grid-row-span: 28;
      grid-row-end: span 28;
  margin: 2px 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
}

.medium-gradient {
  -ms-grid-row-span: 24;
      grid-row-end: span 24;
  border-radius: 10px;
}

.large-card {
  -ms-grid-row-span: 33;
      grid-row-end: span 33;
  margin: 2px 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
}

.large-gradient {
  -ms-grid-row-span: 29;
      grid-row-end: span 29;
  border-radius: 10px;
}

.xlarge-card {
  -ms-grid-row-span: 33;
      grid-row-end: span 33;
  margin: 2px 8px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
}

.xlarge-gradient {
  -ms-grid-row-span: 29;
      grid-row-end: span 29;
  border-radius: 10px;
}

.gradient-card-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 22px;
  position: relative;
  top: 28vh;
  background-color: black;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 10px;
  -ms-grid-columns: (225px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 225px);
}

@media (min-width: 720px) {
  .gradient-card-container {
    -ms-grid-columns: (245px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 245px);
  }
}

@media (min-width: 900px) {
  .gradient-card-container {
    -ms-grid-columns: (270px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 270px);
    top: 29vh;
  }
}

.gradient-card-container .card-details {
  padding: 4px 2px 0px 6px;
  font-size: 14px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 1.3px;
  font-weight: 300;
}

.gradient-card-container .card-details .details-button {
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  background-color: #1e1e1e;
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 60px 60px 0px 0px;
}

@media (min-width: 720px) {
  .popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80%;
    height: 22vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 900px) {
  .popup {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .popup {
    width: 50%;
  }
}

.popup .popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.popup .popup-title #grad-name {
  font-weight: 600;
  font-size: 20px;
  padding: 5px 50px 10px 50px;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.571);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.popup .popup-title #grad-codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 50px 10px 50px;
}

.popup .popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7px;
}

.popup .popup-buttons .close, .popup .popup-buttons #copy-btn, .popup .popup-buttons #add-btn {
  background: #454545;
  border: none;
  border-radius: 5vh;
  margin: 5px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  height: 6vh;
  width: 10vh;
}

.popup .popup-buttons #copy-btn, .popup .popup-buttons #add-btn {
  width: 6vh;
  border: 1px solid #454545;
}

.popup .close-bar {
  position: absolute;
  height: 4px;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 3px;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.copied {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5bf;
  padding: 3px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #454545a6;
  border-radius: 4px;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: 1000ms all ease;
  transition: 1000ms all ease;
}

.copiedActive {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.copiedInactive {
  opacity: 0;
  -webkit-transform: translateY(-170%);
          transform: translateY(-170%);
}

.copy-dialog-container {
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100000000;
  background-color: #1e1e1e;
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 60px 60px 0px 0px;
}

.copy-dialog-container .copy-dialog-code {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 10px;
  margin: 6px 15px;
  background-color: #454545a8;
  border-radius: 10px;
}

.copy-dialog-container .copy-dialog-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copy-dialog-container .copy-dialog-button-group .copy-dialog-button {
  background: #454545;
  border: none;
  border-radius: 5vh;
  margin: 5px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 20px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.copy-dialog-container .success-container {
  width: 11.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copy-dialog-container .copy-dialog-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.copy-dialog-container .copy-dialog-success .copy-icon {
  color: rgba(35, 184, 35, 0.905);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px;
}

.copy-dialog-container .copy-dialog-success > span {
  padding: 0px 5px;
}

.boardContainer {
  position: absolute;
  top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.boardContainer .profileHeader {
  width: 100%;
  height: 15rem;
  background: url("./assets/images/pfpHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boardContainer .profilePicture {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #b77d3a;
  color: rgba(255, 0, 0, 0.401);
  background: url("./assets/images/pfp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 60%;
  -webkit-box-shadow: 0px 0px 125px 18px black;
          box-shadow: 0px 0px 125px 18px black;
}

.border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border .blob1 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob1.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

.border .blob2 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob2.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

.border .blob3 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob3.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

.border .blob4 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob4.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

.border .blob5 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob5.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

.border .blob6 {
  background-image: url("/Users/kartik.dhawan/react.js/gradient.k/src/assets/images/blob6.svg");
  z-index: -1;
  height: 140px;
  width: 140px;
  position: absolute;
}

div .All {
  background-color: #a56e6ea5;
}

div .Red {
  background-color: rgba(194, 0, 0, 0.649);
}

div .Yellow {
  background-color: rgba(219, 219, 0, 0.673);
}

div .Green {
  background-color: rgba(0, 128, 0, 0.736);
}

div .Pink {
  background-color: rgba(255, 192, 203, 0.66);
}

div .Blue {
  background-color: rgba(0, 0, 255, 0.681);
}

div .White {
  background-color: rgba(255, 255, 255, 0.712);
}

div .Black {
  background-color: rgba(0, 0, 0, 0.639);
}

div .Grey {
  background-color: #454545ac;
}

div .Orange {
  background-color: rgba(255, 166, 0, 0.725);
}

:root {
  --navColor: black;
}

.App {
  text-align: auto;
  margin: 0px;
  padding: 0px;
  color: #dc9da7;
}
/*# sourceMappingURL=index.css.map */